/* page */

@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300&family=Shadows+Into+Light&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: whitesmoke;
    font-family: 'Karma', serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

/* nav  */

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: lightgoldenrodyellow;
    color: black;   
}

/* book/join */

.join, .book{
    background-color: #010A5B;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    
    font-family: 'Karma', serif;
}

.join:hover{
    background-color: yellow;
    color: black;
}

.book:hover{
    background-color: black;
    color: #CD8F0D;
}

.button-box{
    text-align: center;
}

/* hero */

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

#hero-img{
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid #D6AE45;
}

/* msg */

.msg{
    background-color: wheat;
    line-height: 1.5em;
    padding: 35px;
    font-family: 'Shadows Into Light', cursive;
}

.msg h2{
    color: black;
}

.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

/* footer */

footer{
    background-color: #131313;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
}

footer h3{
    color: #D6AE45;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer a{
    color: #D6AE45;
    text-decoration: none;
}

footer a:hover{
    color: black;
    background-color: #CD8F0D;
}

.social{
    padding-top: 15px;
}

/* misc. */

#background{
    height: 725px;
    background-color: lightgray;
    margin: 15px;
}

header{
    background-color: #acacac;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.home-title{
    font-size: 2em;
    font-family: 'Shadows Into Light', cursive;
    color: #95002E;
    margin-top: 10px;
}

h4{
    color: black;
}

h2{
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
}
