/* page */

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: whitesmoke;
}

main section{
    text-align: center;
}

/* nav  */
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: lightgoldenrodyellow;
    color: black;   
}

/* book/join */

.join{
    background-color: #CD8F0D;
    color: #000000;
    text-decoration: none;
}

.join:hover{
    background-color: yellow;
    color: black;
}

.book{
    background-color: #010A5B;
    color: white;
    text-decoration: none;
}
.book:hover{
    background-color: black;
    color: #CD8F0D;
}

.button-box{
    text-align: center;
}

/* hero */

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

#hero-img{
    width: 100%;
}

/* msg */

.msg{
    background-color: wheat;
}

.msg h2{
    color: black;
}

.msg p{
    color: black;
}

/* footer */

footer{
    background-color: #131313;
}

footer h3{
    color: #D6AE45;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer a{
    color: #D6AE45;
    text-decoration: none;
}

footer a:hover{
    color: black;
    background-color: #CD8F0D;
}

/* misc. */

#background{
    height: 725px;
    background-color: lightgray;
}

header{
    background-color: #acacac;
}

.logo{
    width: 80px;
    /*display: block;
    margin-left: auto;
    margin-right: auto; */
}
.icon{
    width: 80px;
}

.home-title{
    color: #95002E;
}

h4{
    color: black;
}