h1{
    font-size: 2em;
}

.place{
    margin: 20px 50px 20px 50px;
}

.background{
    font-size: 3em;
    background-color: blue;
    color: white;
    text-align: center;
}

.border{
    border: 2px solid black;
    color: purple;
    border-radius: 25px;
}

.img{
    float: right;
    max-width: 350px;
    padding: 15px;
    margin: 50px;
    background-color: lightgrey;
    
}

.changeColor{
    color: orange;
}