body{
    background-color: #727372;
    display: grid;
    
}

.title{
    width: 100%;
    grid-column: 1/-1;
}

.desk{
    border: 15px solid #454445;
    border-radius: 50%;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.container{
    position: relative;
    text-align: center;
    color: darkblue;
    font-size: 60px;
}
.tt{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.ttt{
    position: absolute;
    bottom: 15px;
    right: 16px;
}


.graphics{
    border: 15px solid #454445;
    border-radius: 50%;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.person{
    border: 15px solid #454445;
    border-radius: 50%;
    width: 60%;
    display: block;
    margin: 0 auto;

}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
