@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&family=Source+Code+Pro:wght@300&display=swap');

header{
    background-color: black; 
    display: grid;
    grid-template-columns: 150px auto;
}

.logoSymbol{
    width: 80px;
    border-radius: 30px;
    margin-left: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding-top: 40px;
    color: white;
}

nav a:hover{
    color: #00FF41;   
}

#heading{
    text-align: center;
}

hr{
    height: 3px;
    background-color: black;
}

.cs{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.selection{
    text-decoration: none;
}

section a{
    color: gold;
}

#csp{ 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    font-size: 20px;
    color: gold;
    text-align: center;
    border-bottom: solid black 2px;
}

#csborder{
    grid-column: 1/4;
    grid-row: 1/3;
    height: 90px;
    z-index: -1;
    border: 3px solid black;
    background-color: rgb(126, 125, 125);
}

#psl{
    grid-column: 1;
    grid-row: 1/3;
    padding-top: 50px;
    font-size: 20px;
}

#xboxl{
    grid-column: 2;
    grid-row: 1/3;
    padding-top: 50px;
    font-size: 20px;
    border-left: solid black 2px;
    border-right: solid black 2px;
}

#nsl{
    grid-column: 3;
    grid-row: 1/3;
    padding-top: 50px;
    font-size: 20px;
}

#nsl:hover, #xboxl:hover, #psl:hover{
    color:#970a0c
}

.centerIt{
  padding-left: 30px;
  /* padding-top: 0px; */
}

.K2-pros-cons {
    font-family: "Raleway", sans-serif;
    display: flex;
    max-width: 700px;
    margin: 32px auto;
    box-shadow: 0 4px 16px -4px rgba(0, 0, 0, 0.4);
  }
  .K2-pros-cons .heading {
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 16px 24px;
  }
  .K2-pros-cons .pros-container .heading {
    background: #02c39a;
  }
  .K2-pros-cons .cons-container .heading {
    background: #e63946;
  }
  .K2-pros-cons .pros-container ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    padding-right: 16px;
    color: #02c39a;
    display: block;
  }
  .K2-pros-cons .cons-container ul li::before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    padding-right: 16px;
    color: #e63946;
    display: block;
  }
  .K2-pros-cons .pros-container, .K2-pros-cons .cons-container {
    flex: 1;
  }
  .K2-pros-cons .pros {
    border-right: 1px solid #eee;
  }
  .K2-pros-cons .cons {
    border-left: 1px solid #eee;
  }
  .K2-pros-cons ul {
    padding: 8px 0;
    list-style: none;
    margin: 0;
  }
  .K2-pros-cons ul li {
    padding: 16px 32px;
    font-size: 16px;
    line-height: 2;
    display: flex;
  }
  @media (max-width: 530px) {
    .K2-pros-cons {
      flex-direction: column;
    }
    .K2-pros-cons ul li:nth-of-type(2n) {
      background: #eee;
    }
  }


footer{
    background-color: #131313;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

footer h3{
    color: #970a0c;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer a{
    color: #970a0c;
    text-decoration: none;
}

footer a:hover{
    color: #D8A21D;
    text-decoration: none;
}

#spb a{
    text-decoration: none;
}

#topb a{
    text-decoration: none;
}


.gameTitle{
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Indie Flower', cursive;
}

.console{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.gameImg{
    float: left;
    max-width: 250px;
    max-height: 250px;
    border: black solid 2px;
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.btop a{
    font-size: 25px;
    color: #D8A21D;
    text-decoration: none;
    margin-right: 3px;
    float: right;
}

.middle{
    top: 300px;
}

#mySidenav a {
    position: fixed;
    right: -90px;
    transition: 0.3s;
    padding: 10px;
    width: 90px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 5px 0 0 5px;
    text-align: right;
  }
  
  #mySidenav a:hover {
    right: 0;
  }
  
  #psls {
    top: 100px;
    background-color: rgba(33, 150, 243, .4);
  }
  
#psls:hover{
    background-color: rgb(33, 150, 243);
}

  #xboxls {
    top: 140px;
    background-color: rgba(4, 170, 109, .4);
  }

  #xboxls:hover{
    background-color: rgb(4, 170, 109);
}
  
  #nsls {
    top: 180px;
    background-color: rgba(244, 67, 54, .4);
  }

  #nsls:hover{
    background-color: rgb(244, 67, 54);
}

.fa-angles-up:hover{
    animation: fa-bounce 2s infinite linear;
}

p{
    text-align: justify;
    padding-right: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 30px;
}

hr{
    height: 4px;
    color: black;
    background-color: black;
    width: 90%;
}