@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&family=Source+Code+Pro:wght@300&display=swap');


header{
    background-color: black; 
    display: grid;
    grid-template-columns: 150px auto;
}

.logoSymbol{
    width: 80px;
    border-radius: 30px;
    margin-left: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding-top: 40px;
    color: white;
}

nav a:hover{
    color: #00FF41;   
}

#heading{
    text-align: center;
}

hr{
    height: 3px;
    background-color: black;
}

.cs{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr -1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    /* background-color: lightgrey; */
}

.selection{
    text-decoration: none;
}

section a{
    color: gold;
}

#csp{
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: -50%;
    grid-row: 1;
    font-size: 20px;
    color: gold;
    text-align: center;
    border-bottom: solid black 2px;
}

#csborder{
    grid-column: 1/4;
    grid-row: 1/3;
    height: 90px;
    z-index: -1;
    border: 3px solid black;
    background-color: rgb(126, 125, 125);
}

#psl{
    grid-column: 1;
    grid-row: 1/3;
    padding-top: 40px;
    font-size: 20px;
}

#xboxl{
    grid-column: 2;
    grid-row: 1/3;
    padding-top: 40px;
    font-size: 20px;
    border-left: solid black 2px;
    border-right: solid black 2px;
}

#nsl{
    grid-column: 3;
    grid-row: 1/3;
    padding-top: 40px;
    font-size: 20px;
}

#nsl:hover, #xboxl:hover, #psl:hover{
    color:#970a0c
}


footer{
    background-color: #131313;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

footer h3{
    color: #970a0c;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer a{
    color: #970a0c;
    text-decoration: none;
}

footer a:hover{
    color: #D8A21D;
}


.gameTitle{
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Indie Flower', cursive;
}

.console{
    text-decoration: underline;
}

.consoleImg{
    max-width: 300px;
    border-radius: 30px;
}

/* .info{

} */

.gameImg{
    float: left;
    max-width: 400px;
    border: black solid 2px;
    margin-left: 5px;
    margin-right: 5px;
}



p{
    text-align: justify;
    padding-right: 20px;
    font-family: 'Open Sans', sans-serif;
}

hr{
    height: 4px;
    color: black;
    background-color: black;
    width: 90%;
}